<div class="container">
    <header id="head">
        <img  id="logo" src="../../../assets/argentinaprograma.jpg" width="250px" alt="">
        <h2>Bienvenido a mi portfolio web</h2>
        <nav>
         <a href="" class="logos"><img src="../../../assets/whatsapp.png"  alt=""></a>
         <a href="" class="logos"><img src="../../../assets/facebook.png"  alt=""></a>
         <a href="" class="logos"><img src="../../../assets/instagran.png" alt=""></a>
         <a href="" id="btn"><i class="fa-regular fa-user fa-xl"></i>Registrate</a>
         
        </nav>
     </header>
</div>
