<div class="container secciones">
    <header id="head">
        <img  id="logo" src="../../../assets/argentinaprograma.jpg" width="250px" alt="">
        <h2 style="text-align: center;">Bienvenido a mi portfolio web</h2>
        <nav>
         <a href="https://whatsapp.com" class="logos"><img src="../../../assets/whatsapp.png"  alt=""></a>
         <a href="https://facebook.com" class="logos"><img src="../../../assets/facebook.png"  alt=""></a>
         <a href="https://instagran.com" class="logos"><img src="../../../assets/instagran.png" alt=""></a>
         <a href="/login" id="btn"><i class="fa-regular fa-user fa-xl"></i>Registrate</a>
         
        </nav>
     </header>
</div>
